<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Hey, I'm Matt!</h2>
                <p>I'm a web developer, marketing strategist, and all-around tech savvy guy. Since 2017, I've been helping small businesses grow their revenues by getting their awesome products found on the internet.</p>
                <div class="badges">
                </div>
            </div>
        </div>
    </div>
</section>
