<section id="why">

<!-- This is the section title. It does not move-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Here's what clients have said...</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>

    <div class="container">

<!-- This is the moving section. This stuff is the only thing that moves-->   
     {% for client in site.data.settings.clients %}   
        <div class="row client-unit">

            <div class="client-logo col-lg-4 col-md-4">
                <img class="client_1" src="{{ client.logo }}">
            </div>

            <div class="client-quote col-lg-8 col-md-7 text-center">
                    <h3>{{ client.quote }}</h3>
                    <p class="text-muted">-{{ client.title }}</p>
            </div>

        </div>
    {% endfor %}
   </div>
<!-- This is the navigation buttons. They don't move-->            
</section>
