<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
            </div>

            <div class="col-sm-4">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Matt DeMichele Designs</h1>
                        <h3>Website Creation | Brand Design | Marketing Strategies<h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
