<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h2 class="">Services</h2>
				<p>I offer 3 basic categories of service. Let's define your goals and find the best solution for you.</p>
			</div>
		</div>
	</div>
</section>
<section>
<div class="container">
	<div class"row">
		<div class="col-md-4 service-box">
			<img class="img-responsive" src="/img/portfolio/personal.jpg">
			<div class="services-box-explain">
				<p>Web Development</p>
			</div>
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="/img/portfolio/personal.jpg">
			<div class="services-box-explain">
				<p>Site Maintenance</p>
			</div>
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="/img/portfolio/personal.jpg">
			<div class="services-box-explain">
				<p>Branding & Marketing</p>
			</div>
		</div>
	</div>
</div>
</section>




  {% include contact.html %}
  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>
